/* AB CSS Reset */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    line-height: 1.5;
}
img {
    box-sizing: content-box;
    display: block;
    max-width: 100%;
}
button {
    font: inherit;
}

/* --- */

body {
    font-family: "Roboto", sans-serif;
}
nav, .navy, footer {
    background-color: #1f2937;
    color: #f9faf8;
}
ul {
    list-style-type: none;
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
}
#header-logo {
    font-size: 24px;
    font-weight: 700;
    margin-right: auto;
}
.navy {
    padding:72px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
}
.hero-text {
    max-width: 550px;
    flex: auto;
}
h1 {
    font-size: 48px;
    font-weight: 900;
}
.hero-text p {
    color: #e5e7eb;
    margin-bottom: 16px;
}
button {
    background-color: #3882f6;
    color: #f9f4f8;
    font-weight: 700;
    padding: 4px 27px;
    border-radius: 0.5rem;
    border: none;
    box-shadow: none;
}
.white {
    text-align: center;
    padding: 72px;
}
h2 {
    margin-bottom: 36px;
}
.carousel {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 54px;
}
figure {
    text-align: center;
    max-width: 180px;
}
figure img {
    display: inline;
    border: 5px solid #3882f6;
    border-radius: 10%;
}
.grey {
    background-color: #e5e7eb;
    padding: 72px;
    position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote {
    max-width: 800px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
blockquote {
    font-size: 36px;
    font-style: italic;
}
.grey p {
    font-weight: 700;
    text-align: right;
    align-self: end;
    padding-right: 16px;
}
.white:has(.callout-box) {
    display: flex;
    justify-content: center;
    align-items: center;
}
.callout-box {
    background-color: #3882f6;
    color: #f9f4f8;
    width: 1000px;
    border-radius: 1rem;
    padding: 36px 72px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.callout-text {
    text-align: left;
    margin-right: 36px;
}
.callout-box button {
    border: 2px solid #f9faf8;
}
